---
layout: job_page
title: "Recruiting Intern"
---

## Responsibilities:

* Understand the roles we need filled and the requirements for those roles.
* Develop candidate reports for key roles, outlining candidates that we should be targeting for our roles.
* Act as point-of-contact for candidate inquiries regarding the application process, available positions and other recruitment-related inquiries.
* Assist recruiters with sourcing/researching activities, utilizing a variety of resources, including Search Engines and Social Networking Media, to proactively and continually source, develop and maintain an effective pipeline.
* Assist in maintaining our internal database, continuously updating candidate records.
* Perform additional tasks, projects and responsibilities as assigned. This will include assisting GitLab in building an internship program with a strong diversity focus.


## About you:

* Minimum one (1) year of work experience, demonstrating responsibility and reliability (experience supporting recruiting staff preferred).
* Enrolled at an accredited University with a formal internship/co-op program.
* Comfortable using technology
* Experience working with Google Suite preferred.
* Ability to interpret substantial amounts of data.
* Excellent written & verbal communication skills both in person and over the phone/computer.
* Strong organizational skills, ability to take on multiple tasks and function under stressful situations and deadlines.
* Strong attention to detail and ability to maintain detail focus in a fast-paced environment.


<%= partial "includes/apply_and_about" %>
