---
layout: job_page
title: "Account Manager"
---

## Responsibilities

* Build and expand relationships and awareness of GitLab within SMB accounts
* Identify and document business goals, technology stack, and how customers are using GitLab
* Increase adoption of GitLab features and products through implementation of an outreach strategy
* Advocate for customer needs for training and services where needed
* Manage the renewal process and exceed renewal goals
* Advocate for the overall health of relationship to GitLab acting proactively to address issues and concerns
* Engage with GitLab Support team and GitLab billing team to ensure customer questions are addressed in a timely manner

## Requirements

* 2+ years of successful account management experience managing thousands of SMB customers
* Strong customer orientation, dedication, and passion for delivering a great customer experience
* Excellent verbal and written communication skills
* Collaborative and team oriented
* Experience using Salesforce.com
* Motivated, self-directed and results oriented
* Knowledge of Git and GitLab workflow preferred
* Knowledge of Zuora preferred
* Interest in GitLab, and open source software
* You share our [values](/handbook/values), and work in accordance with those values.

## Hiring Process

Applicants for this position can expect the hiring process to follow the order below. Please keep in mind that applicants can be declined from the position at any stage of the process. To learn more about someone who may be conducting the interview, find her/his job title on our [team page](/team).

* Qualified applicants receive a short questionnaire from our Global Recruiters
* Selected candidates will be invited to schedule a 30min [screening call](/handbook/hiring/#screening-call) with our Global Recruiters
* Next, candidates will be invited to schedule a first interview with our Dir. Customer Success
* Candidates will then be invited to schedule an interview with our CRO
* Finally, candidates may be scheduled for a 50min interview with our CEO
* Successful candidates will subsequently be made an offer via email

Expect between 2-3 business between each step. Additional details about our process can be found on our [hiring page](/handbook/hiring).

## Compensation

You will get 70% as base and 30% based on commission. See our [market segmentation](https://about.gitlab.com/handbook/sales/#market-segmentation) for typical quotas in the U.S. Account Managers focus on Mid-Market. Also see the [Sales Compensation Plan](https://about.gitlab.com/handbook/finance/sales-comp-plan/).

<%= partial "includes/apply_and_about" %>
